apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: applyx-uploads-pvc
  namespace: applyx
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: applyx-logs-pvc
  namespace: applyx
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
